@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('/public/bg.jpg'); */
  background-color: #F0EFED;
  font-family: 'Poppins', sans-serif;
}
 
